<div *ngFor="let note of this.noteService._notes | waitingNote:'waiting' | keyvalue " style="margin: 5px">
  <mat-card [routerLink]="['/detail', {name: note.key}]" >
    <mat-card-title>
      <div>
        {{note.key}}
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="wrapContent">
        {{note.value.body}}
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="setStatus(note.value,'progress')">In progress</button>
      <button mat-button (click)="setStatus(note.value, 'done')">Done</button>
      <button mat-button (click)="setStatus(note.value, 'archive')">Archive</button>
      <button mat-button (click)="setStatus(note.value, 'delete')">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>Tests</div>
<div>{{notes}}</div>
<div *ngFor="let aNote of notes" style="margin: 5px">
  <mat-card [routerLink]="['/detail', {name: aNote.name}]" >
    <mat-card-title>
      <div>
        {{aNote.name}}
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="wrapContent">
        {{aNote.text}}
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="setStatus(aNote.status,'progress')">In progress</button>
      <button mat-button (click)="setStatus(aNote.status, 'done')">Done</button>
      <button mat-button (click)="setStatus(aNote.status, 'archive')">Archive</button>
      <button mat-button (click)="setStatus(aNote.status, 'delete')">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-button (click)="testGetNotes()">Test</button>





